---
---
{% capture include_to_scssify %}{% include styles/style.scss %}{% endcapture %}{{ include_to_scssify | scssify }}
/*
Custom BLS CSS
*/
#rightlogo {
	position:absolute;
	top:10px;
	right:30px;
	margin-left: 35px;
}
#rightlogo img {
	max-width: 60%;
	height: auto;
	float:right;	
}
/* Tweaks to sidebar css */

.sidebar-about p {
    font-size: 20px;
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px 8px black;
}

.sidebar-about h2 a {
    text-shadow: 1px 1px 8px black;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    line-height: 44.2px;

    
}
nav.sidebar-nav.heading a {
    text-shadow: 1px 1px 8px black;
}